---
layout: landing
title: Backend Services
permalink: /backend-services/
exclude_from_nav: true
noindex: false
masthead:
  img_path: '/img/backgrounds/backend-header.png'
  pat_path: #
  overlay: true
seo:
  title: 'Fixed Fee Service Packages and AWS Audits'
  description: 'Not looking for the whole kit and caboodle? Bowtie offers a number of fixed fiee backed service packages to help you make you stack more efficient.'
  canonical:
  noindex: false
social:
  title: 'Fixed Fee Service Packages and AWS Audits'
  description: 'Bowtie offers a number of fixed fee service packages to fix your issues and make your stack more efficient.'
  img_path: '/img/services/reverse-engineer.jpg'

---
{% include nav-beta.html %}
<section class="bgclear masthead cutangle {% if page.masthead.overlay %}overlay{% endif %}">
  <div class='masthead-inner text-center'>
    <h1 class="text-center">Backend Services</h1>
    <h3>Fixed fee audits, optimization, and backend services.</h3>
  </div>
</section>

<section class='nopadtop'>
<div class="row-80 text-left container">
  <img src="/img/tie-black500.png" class="team-logo" />
  <h3>Not looking for the whole kit and caboodle? <br /> Bowtie offers a number of fixed fee service packages to help make your stack more efficient.</h3><br />
  <hr />
  {% include services.html %}
</div>
<p class="small row-80">
  <em>
    * Regardless of service, we charge a nonrefundable $250 initial fee to determine if your project fits within the expected scope of the service. If so, we will apply the fee to the service total and proceed. If in the rare instance your project exceeds the expected scope we will provide you with a custom estimate by which to proceed.
  </em>
</p>
</section>

{% include sections/contactform.html %}
