---
layout: category
permalink: /faq/
exclude_from_nav: true
title:  FAQ
subtitle: Explore short answers to common questions.
masthead:
  img_path:
  pat_path: /img/backgrounds/gridbg.png
date:   2015-01-01 12:00:01
author: chad
comments:
share:
seo:
  img_path: '/img/bowtie-software-development-denver.jpg'
published: false
---
<div class="support row">
  <div class="col-sm-9">
    {% include faq-categories.html %}
    <hr>
    <!-- group collection by item category -->
    {% assign faqs_by_category = site.faq | group_by: 'category' | sort: 'name' %}
    {% for group in faqs_by_category %}
    <a name="{{ group.name }}"></a>
    <h3 id="{{ group.name }}">{{ group.name }}</h3>
    {% for item in group.items %}
    <div class="panel-group clearfix row" id="accordion">
      <div class="col-md-12">
        <div class="faq-panel panel panel-default">
          <div class="panel-heading" data-parent="#accordion" data-toggle="collapse" href="#collapse_{{item.id | jsonify | slugify}}" style="cursor:pointer;">
            <h5 class="panel-title">
              {{item.title}}<i class="fa fa-chevron-down pull-right expander"></i>
            </h5>
          </div>
          <div id="collapse_{{item.id | jsonify | slugify}}" class="collapse noCrossRef">
            <div class="panel-body">
              {{item.excerpt}}
              <br/>
              <a class="btn btn-primary btn-sm" href="{{ item.url | prepend: site.baseurl }}">More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {%endfor%}
    &nbsp;
    {%endfor%}
    {% assign faqs_by_category = nil %}
    &nbsp;
  </div>

  <div class="col-sm-3 support-sidebar">
    {% include support-sidebar-email.html %}
  </div>

</div>

<br />
<hr>
<p>Looking for something else? Check out our <a href="/support/">Support Page</a>, <a href="/user-guides/">User Guides</a>, <a href="/examples/">Examples</a>, and <a href="/docs/">Technical Docs</a>.</p>
