---
layout: landing
title: Ennsights
permalink: /
exclude_from_nav: true
noindex: false
#style:
#  id: null
#  class: null
#  media:
#    img:
#      url_path: '/img/bt-header-runner2.jpg'
#      pattern: false
#      parallax: false
#      overlay: dark
#      blur: false
#    video:
#      url_path:
#      type:
#  tint_color: null
#  font_color: '#fff'


---

{% include nav-bootstrap.html %}
{% include sections/hero-clients.html %}
{% include sections/enneagram-intro.html %}
{% include sections/stephanie.html %}
