---
layout: landing
title: Bowtie.co
permalink: /pricing/
exclude_from_nav: true
noindex: false
masthead:
  img_path: '/img/backgrounds/Pricing-Header.jpg'
  pat_path: #
  overlay: true
social:
  title: 'Bowtie Pricing'
  description: 'We deliver world class static web applications and sites. Work with us on your next Public Sector, Healthcare, MVP, or single page app project.'
  img_path: '/img/bowtie-software-development-denver.jpg'

---

{% include nav-beta.html %}
<section class="bgclear masthead cutangle overlay">
  <div class='masthead-inner container row-90 text-center'>
    <h1 class="text-center">Packages and Pricing</h1>
  </div>
</section>
<section id="" class="team nopadtop">
  <div class="container row-80 text-center">
    <img src="/img/tie-black500.png" class="team-logo" />
    <h3 class="text-center">Transparent pricing providing value for any budget.</h3>
  </div>
</section>
{% include sections/service-pricing.html %}
{% include sections/pricing-faqs.html %}
{% include sections/contactform.html %}
