<section id="testimonial-carousel" class="color carousel slide testimonial" data-ride="carousel" style="overflow: hidden;
width: 100%;">
  <div class="container row-90 text-center">
    <h4>What People Are Saying:</h4>
    <ol class="carousel-indicators">
      <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#testimonial-carousel" data-slide-to="1"></li>
      <li data-target="#testimonial-carousel" data-slide-to="2"></li>
      <li data-target="#testimonial-carousel" data-slide-to="3"></li>
      <li data-target="#testimonial-carousel" data-slide-to="4"></li>
      <li data-target="#testimonial-carousel" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner row-90 text-left">
      <div class="item active">
        <div class="carousel-caption">
          <img class="img profile-pic" src="/img/ian-golden.jpg" alt="Slide">
          <div>
            <h1>"I've moved all my small business clients to BowTie. It's exaclty what they need."</h1>
            <p> Ian Golden -  Founder <a href="http://unitedwebco.com/" target="_blank" rel="noopener nofollow">United Web Company</a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <img class="img profile-pic first-slide" src="/img/alex-schupp.jpg" alt="Slide">
          <div>
            <h1>"We used BowTie to build a completely new revenue line to sell to clients."</h1>
            <p>Alex Schupp  -  Dir of Social Marketing <a href="https://www.growthweaver.com/" target="_blank" rel="noopener nofollow">Growth Weaver</a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <img class="img profile-pic" src="/img/paul-mcreynolds.jpg" alt="Slide">
          <div>
            <h1>"Git backed hosting with Wordpress-like ease of use."</h1>
            <p>Paul McReynolds - Founder and CTO <a href='http://www.conspire.com/' target='_blank' >Conspire</a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <img class="img profile-pic" src="/img/amy-slater2.jpg" alt="Slide">
          <div>
            <h1>"BowTie allowed us to develop a stunning events site that I can easily update."</h1>
            <p> Amy Slater -  Executive Director <a href="http://creativestartups.org/" target="_blank" rel="noopener nofollow">Creative Startups Accelerator</a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <img class="img profile-pic" src="/img/leslie-collin.jpg" alt="Slide">
          <div>
            <h1>"We collected a large number of donataions for a charity partner without worrying about security."</h1>
            <p> Leslie Collin - Prinicpal <a href="http://glcbs.com/" target="_blank" rel="noopener nofollow">GLC Business Services</a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <img class="img profile-pic" src="/img/alonso-indacochea.jpg" alt="Slide">
          <div>
            <h1>"Using BowTie lets us focus on design and client experience while remaining competitive on price."</h1>
            <p> Alonso Indacochea - Founder <a href="http://hermesdevelopment.com/" target="_blank" rel="noopener nofollow">Hermes Devlopment</a></p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#testimonial-carousel" data-slide="prev">
      <span class="fa fa-angle-left"></span>
    </a>
    <a class="right carousel-control" href="#testimonial-carousel" data-slide="next">
      <span class="fa fa-angle-right"></span>
    </a>
  </div> <!-- end carousel -->
</section>

 <script>
  $('.carousel').carousel({
   interval: '7000'
  });
 </script>
