<section id="api" class="generic black">
  <div class="container row-80">
    <div class="col-sm-12 text-center">
      <h1>A Frontend for Your API</h1>
      <h3>Stay focused on the hard problems. Add BowTie services with a simple connection to your backend application or API.</h3>
      <br />
      <div class="container-fluid animateEntryR">
        <img src="/img/bowtie-api-connection.png" class=" img-responsive col-sm-8">
        <br />
        <div class="col-sm-4">
        <p>Don't waste time building and monitoring disparate services. Connect your app to our proxy to add services and get global control from a single UI.</p>
        <br />
        </div>
      </div>
    </div>
  </div>
</section>
