<section class="generic dark" >
  <div class="container text-center">
    <h1>The Internet is Broken</h1>
    <h3>Let's fix it with faster, more secure, and less bloated static sites.</h3>
    <p class="text-center area">We believe in a world where shipping feature-rich static sites is easy, site security is commonplace, and developers are allowed to focus on their ideas rather than the cruft that gets in the way of execution. Whether you're working on your next big idea or client site, BowTie helps you deploy more functionality with less effort - complemented by a no-hassle backend that can scale with your success.</p>
    <br/>
    <a href="/examples/"><button class="btn btn-primary">Use Cases</button></a>
    &nbsp;
    <a href="/contact/"><button class="btn btn-success">Contact Us</button></a>
  </div>
</section>
