<section id="civicmaker" class="gradient">
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h2 class="animateEntry">Intoducing CivicMaker™</h2>
      <p class="lead animateEntry">An Easy to Use CMS Platform for Municipalities of All Sizes</p>
      <p class="animateEntry">CivicMaker leverages the BowTie CMS for a fully integrated website and city plan solution.  City, County, and State governments will benefit from a complete solution that brings citizens the best, most user-friendly window on their government.</p>
    <p><a href="/contact/" class="btn animateEntry">Contact Us</a></p>
    </div>
    <div class="laptop">
      <img class="animateEntry" src="/img/home-laptop.png">
    </div>
  </div>
</section>
