<section id="about" class="team nopadtop">
  <div class="container row-80 text-center">
    <img src="/img/tie-black500.png" class="team-logo" />
    <h3></h3>
    <div class="row">
        <p>Bowtie is a Denver-based full service design and development agency with over 10 years of experience delivering world class web applications, e-commerce sites, and mobile apps. Our agency capabilities include software development, website design, mobile app design and development, technology solutions and consulting.</p>
        <div class="button-group animated fadeInUp">
          <a class="btn btn-default btn-lg" href="/contact/">Work with Us</a>&nbsp;&nbsp;
        </div>
    </div><br/>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h4 class="bold">Just Getting Started?</h4>
        <p>Our team will take you from MVP to IPO. We‘ve been there, and we know what it takes to get you moving faster.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h4 class="bold">Need an Ecommerce Overhaul?</h4>
        <p>We help you craft a fresh new digital experience, building off the brand you’ve created and optimized to save you time.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h4 class="bold">Simple Website Updates?</h4>
        <p>Let us be your website mechanic. We'll maintain, monitor, and support your site like a member of your own team.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h4 class="bold">Team Moving Too Slow?</h4>
        <p>Let us audit your tech stack. Or we can evaluate and augment your staff, or build something new and upskill them on it.</p>
      </div>
    </div>
    <p>&nbsp;</p>
</div>
</section>
