<div class="crossfade1" data-crossfade-start="/img/backgrounds/death-tiec@2x.jpg" data-crossfade-end="/img/backgrounds/death-tie@2x.jpg" style="position:relative;">
  <section class="countdown alt">
  <a name="signup"></a>
    <div style="z-index:50;position:relative;">
      <div class="container signup-form">
        <h1>Join the Private Beta</h1>

        <form class="form-bloat form-stretch" action="https://seedworthy.createsend.com/t/d/s/hdxk/" method="post">
          <div class="prospect-registration-pending">
            <div class="input-append">
              <input id="fieldEmail" name="cm-hdxk-hdxk" type="text" placeholder="Email Address">
              <button class="btn btn-default" type="submit">Sign Up</button>
            </div>
            <p class="help-block text-muted">We won't spam or sell your email. Unsubscribe at anytime.</p>
          </div>
          <div class="prospect-registration-successful" style="display:none;">
            <h1>Thanks for Signing Up!</h1>
            <h3>Keep an eye on your Email. We'll be in touch.</h3>
          </div>
          <br />
          <h4 style="color:#333 !important;">Sign Up to join the BowTie Private Beta.<br /> Already have a code? <b><a href="/owners/sign_up"; style="color:#000;">Register Now</b></a> (Free to Try)</h4>
        </form>
      </div>
    </div>
  </section>
</div>
