<section class="generic section gradient" >
  <div class="container text-center">
    <h1>Empower your Clients</h1>
    <h3>Build simple, secure, no maintenance sites that they can update.</h3>
    <p class="text-center area">Millions of small business owners are stuck with simple sites built on bloated architecture. They cost more to build, host, update and maintain. It doesn't have to be that way. Liberate your clients from risk and maintenance.  Design a template and let them do the editing. BowTie is a perfect solution for commodity and brochure sites.</p>
    <br/>
    <a href="/examples/"><button class="btn btn-outline">Use Cases</button></a>
    &nbsp;
    <a href="/features/"><button class="btn btn-info">Features</button></a>
  </div>
</section>
