<section id="products_and_services" class="">
  <div class="container">
      
    <div class="row d-flex align-items-center row-80">
      <div class="col-12 col-md-4 order-2 order-md-1 text-center">
          <img src="../img/enneagram.png" class="team-logo" style="margin:1em auto 0;"/>
      </div>
      <div class="col-12 col-md-6 order-1 order-md-2 ">
        <h2 class="text-left">The Enneagram</h2>
        <p class="text-left">An amalgam of information gathered from the study of various teachings, spiritual practices and writings from as far back as 4000 years, the Enneagram helps us to understand where we come from and who we are in the deepest parts of our soul.</p>
        <p class="text-left">We learn what our strengths are, our weaknesses, what motivates are reactions in the world, what we need to let go of and what decisions we can make to become true to who we really are. The Enneagram is the beginning of a journey, the start of the road to a clear, understandable and organized approach to seeing and knowing your own personality.</p>
      </div>
    </div>
</section>
