<section id="faster_platform">
  <div class="container">
    <div class="row">
      <div class="col-md-4 image">
        <img class="animateEntry" src="/img/phone_home.png">
      </div>
      <div class="col-md-8 copy">
      <h2 class="animateEntry">Faster, Safer, Zero-Maintenance Architecture</h2>
      <p class="lead animateEntry">The BowTie CMS is an advanced professional site builder and content management system for the modern web.</p>
      <p class="animateEntry">Deploy websites that are faster, easier to maintain, and more secure than a traditional content management system -  and provide your content team with a simple, customized UI and tools tailored to their needs.</p>
      <p class="buttons animateEntry">
        <a href="/features/" class="btn btn-primary">Features</a>
        <a href="/owners/sign_up" class="btn btn-secondary">Sign Up Now</a>
      </p>
      </div>
    </div>
  </div>

</section>
