<section id="feature-callouts" class="" >
  <a name="features"></a>
  <div class="container row-80 text-center">
    <row class="row">
      <img class="feature-img pull-left  col-sm-4" src="/img/feature-img-static-web.png">
      <div class="col-sm-8 feature-copy">
        <h4>Simple Sites are Better Sites</h4>
        <p>Database-driven websites expose your clients to security risks, and often require complex optimization and maintenance.</p>
        <p>BowTie helps you deploy websites that are faster, easier to maintain, and more secure than a traditional content management system - without losing convenience.</p>
      </div>
    </row>
    <hr>
    <row class="row">
      <img class="feature-img pull-right  col-sm-4" src="/img/feature-img-static-feat.png">
      <div class="col-sm-8 feature-copy">
        <h4>Dynamic Features</h4>
        <p>The benefits of a static site – enhanced to make content creation, and project maintenance easy.</p>
        <p>BowTie gives you Stripe Payments, User Management, Zapier, and a Hosted Content Editor without a database.</p>
      </div>
    </row>
    <hr>
    <row class="row">
      <img class="feature-img pull-left  col-sm-4" src="/img/feature-img-editor3.png">
      <div class="col-sm-8 feature-copy">
        <h4>Let Them Do the Editing</h4>
        <p>Handing off content creation? Clients and non-technical collaborators can use a customized editor to modify only what they need to.</p>
        <p>Developers can manage access to content, roll back changes with git version control, and work locally with familiar tools.</p>
      </div>
    </row>
    <hr>
    <row class="row">
      <img class="feature-img pull-right  col-sm-4" src="/img/feature-img-static-app.png">
      <div class="col-sm-8 feature-copy">
        <h4>Worry Free Websites</h4>
        <p>Database driven legacy sites are needlessly complex and susceptible to known exploits – and we all pay the price.</p>
        <p>BowTie captures information (behavior, payments, custom data) securely when you need persistent data. There's no software to maintain, and no database to hack. </p>
      </div>
    </row>
    <hr>
    <row class="row">
      <img class="feature-img pull-left  col-sm-4" src="/img/feature-img-save-time.png">
      <div class="col-sm-8 feature-copy">
        <h4>Time Saved for Visitors and Clients</h4>
        <p>Deliver lightning fast content to your visitors, on secure, scalable cloud infrastructure.</p>
        <p>Use our template framework to produce brochures, donation sites, or simple e-commerce sites quickly – allowing you to focus on what matters, design and content.</p>
      </div>
    </row>
  </div>
  <div class="text-center">
    <div class="button-group">
      <a href="/features/"><button class="animateEntry btn btn-lg btn-info" style="box-shadow:2px 4px 2px rgba(0, 0, 0, 0.55);">More Features</button></a>&nbsp;
      <a href="/owners/sign_up"><button class="animateEntry btn btn-lg btn-success" style="box-shadow:2px 4px 2px rgba(0, 0, 0, 0.55);">Get Started</button></a>
    </div>
  </div>
</section>
