{% if section.style %}
  {% assign style = section.style %}
{% elsif page.style %}
  {% assign style = page.style %}
{% endif %}
<!-- Hero classes are 'no-image' 'image-tagline' 'image-center' 'image-left' 'image-right' -->
<section id="hero" class="jumbotron">
<div class="media-wrap">
{% if style.tint_color %}
  <div class="media-tint" style="background:{{ style.tint_color }};"></div>
{% endif %}
</div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 text-left">
        <h1 class="text-left animated fadeInUp">Software. Perfected.</h1>
        <p class="lead animated fadeInUp">Bowtie is a digital product company that values usability, performance, and intelligent design. We're value focused, but not cheap. If you want a digital product that's built like a Tesla - smart, performance-driven, with a touch of supercar moxie... you'll love working with us.</p>
        <br>
        <div class="button-group pull-left animated fadeInUp">
          <a class="btn btn-transparent btn-lg" href="/services/">What We Do</a>&nbsp;&nbsp;
        </div>
      </div>
    </div>
</div>
</section>
