<section id="work-together" class="work-together gradient">
  <div class="container row-60 text-center">
    <h2 class="text-center">Let's Work Together</h2>
    <div class="row" style="margin-top:2em;">
      <p>Bowtie builds world class web applications, e-commerce sites, and web products. We work with a limited number of clients per year to provide unparalelled attention and satisfaction. If you want to experience software development as it should be, contact us.</p>
      <div class="button-group animated fadeInUp">
        <a class="btn btn-default btn-lg" href="/contact/">Get In Touch</a>
      </div>
    </div>
  </div>
</section>
