<section class="alt parallax">
<a name="pricing"></a>
  <div class="container row-90 text-center">
  <div class='pricing row'>
    <div class='col-md-3 col-sm-6'>
      <!--PLAN 1-->
      <div class='plan panel panel-default'>
        <div class="panel-heading plan-name">
          Basic
        </div>
        <div class='panel-body text-center'>
          <div class='price'>
            <span class="dollar">$</span>
            5
            <span class="unit">
            /mo*
            </span>
          </div>
          <span class="text-muted">Get 1 hosted Project (e.g. 'example.bowtied.io') and access to all services.</span>
          <a href="/owners/sign_up" class="clearfix"><button class="btn btn-default row" style="margin-top:15px;">Try ⋈ BowTie</button></a>
          <ul class='plan-features list-group'>
            <li class='list-group-item'><em>14-day Free Trial</em></li>
            <hr>
            <li class='list-group-item'>Bandwidth: <strong>$.02 /GB</strong> (>50Gb)</li>
            <hr>
            <li class='list-group-item small text-muted'>*Billed annually or $6 month-to-month.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class='col-md-3 col-sm-6'>
      <!--PLAN 2-->
      <div class='plan panel panel-default prominent-plan'>
        <div class="panel-heading plan-name">
          Full
        </div>
        <div class='panel-body text-center'>
          <div class='price'>
            <span class="dollar">$</span>
            30
            <span class='unit'>
            /mo*
            </span>
          </div>
          <span class="text-muted">Host up to 3 Projects, with Stripe Payments, Custom Domains, all bells and whistles included.</span>
          <a href="/owners/sign_up" class="clearfix"><button class="btn btn-default row" style="margin-top:15px;">Sign Up</button></a>
          <ul class='plan-features list-group'>
            <hr>
            <li class='list-group-item'>Bandwidth: <strong>$.02 /GB</strong> (>100Gb)<br/><strong>Stripe </strong>Plans/Checkout<br/>Custom Domains: <strong>$1.99 + Up</strong><br/>Premium Support</li>
            <hr>
            <li class='list-group-item small text-muted'>*Billed annually or $36 month-to-month.</li>
          </ul>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
    <div class='col-md-3 col-sm-6'>
      <!--PLAN 3-->
      <div class='plan panel panel-default'>
        <div class="panel-heading plan-name">
          Pro
        </div>
        <div class='panel-body text-center'>
          <div class='price'>
            <span class="dollar">$</span>
            82
            <span class='unit'>
            /mo*
            </span>
          </div>
          <span class="text-muted">Ship. Test. Repeat. <br />Host 10 Projects with Stripe Payments, Custom Domains, and VIP Support.</span>
          <a href="/owners/sign_up" class="clearfix"><button class="btn btn-default row" style="margin-top:15px;">Sign Up</button></a>
          <ul class='plan-features list-group'>
            <hr>
            <li class='list-group-item'>Bandwidth: <strong>$.02 /GB</strong> (>250Gb)<br/><strong>Stripe </strong>Plans/Checkout<br/>Custom Domains: <strong>$1.99 + Up</strong><br/><strong>VIP</strong> Support<br>Add-On Projects: <strong>$10</strong></li>
            <hr>
            <li class='list-group-item small text-muted'>*Billed annually or $99 month-to-month.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class='col-md-3 col-sm-6'>
      <!--PLAN 4-->
      <div class='plan panel panel-default'>
        <div class="panel-heading plan-name">
          Enterprise
        </div>
        <div class='panel-body text-center'>
          <div class='price'>
            <span style="font-size:.75em;line-height:110%;">Let's Talk</span>
            <span class='unit'></span>
          </div>
          <span class="text-muted">Custom solutions for your business, code camp, or incubator.</span>
          <p>&nbsp;</p>
          <a href="mailto:info@bowtie.co" target="_blank"><button class="btn btn-transparent row">Contact Us</button></a>
          <p>&nbsp;</p>
        </div>
      </div>
      <div class="text-center clear">
        <div class="plan panel panel-default discount-panel">
          <h3 class="title">Save up to 20% with Annual Billing!</h3>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</section>
