<section id="expertise" class="alt text-center">
  <h4 class="text-center animateEntry">Common Pricing Questions</h4>
      <div class="container row row-80" id="price-faq">
        <div class="col-md-12">
          <br />
          <h3> Why are your prices so cheap?</h3>
          <p>Most agencies and dev shops have unnecessary overhead, lavish office space, advertising budgets, and a small army of sales staff who focus on commission. Bowtie.co is a development run organization. We’d rather take on projects we care about and execute with efficiency than pay for a bunch of stuff that doesn’t add value to your project. At the end of the day, we like having happy clients who make strong referrals.</p>
          <hr class="row-50" />

          <h3>I didn’t realize software development cost so much. Is there a cheaper option?</h3>
          <p>There is always a cheaper option - but don’t assume that option is actually cheap. We routinely take contracts cleaning up the work of less experienced developers, or bringing a project to completion after another team checks out. When you hire our team you are paying for our experience, tenacity, and track record. If price is your number one concern, we won’t hold it against you to go elsewhere. But don’t be surprised if you get what you pay for.</p>
          <hr class="row-50" />

          <h3>Will you consider equity in trade for development work?</h3>
          <p>Sorry, but no. Your business is your business. Ours is supporting you with better technology. We are joining your team the day you hire us.</p>
          <hr class="row-50" />

          <h3>We’ve had a bad experience with freelancers/outsourcing in the past. How is this different?</h3>
          <p>Bowtie.co has an exceptionally talented and cohesive team of full time developers who care about the work we make, and the longecity of our products - long after the project leaves our studio. Our unique process ensures that every member of our project team understands your business purpose and how the product we're delivering impacts that purpose. Also, we don't sub our work to overseas firms - ever.</p>
          <hr class="row-50" />

          <h3>We’re a large private company. Will you sign an NDA?</h3>
          <p>We’ve worked with a number of clients who for one reason or another would prefer not to disclose that they hired some outside help to augment their team. Our number one goal is to support your business needs. When discretion is required, we follow your lead.</p>

        </div>
      </div>
    <br>
    <p class="small text-center"><em>Thanks for reading. <a href="/contact/">Contact Us</a></em></p>
</section>
