<section id="pricing-platform" class="alt">
<a name="pricing-platform"></a>
  <div class="container row-90 text-center">
  <div class="row pricing-header">
    <div class="col-md-8 col-md-offset-2">
      <h2>BowTie Platform Access</h2>
      <p class="lead">Sign Up and Start Building On Our Platform Today.</p>
    </div>
  </div>
  <div class='pricing row'>
    <div class='col-md-3 col-sm-6'>
      <!--PLAN 1-->
      <div class='plan panel panel-default'>
        <div class="panel-heading plan-name">
          Developer
        </div>
        <div class='panel-body text-center'>
          <div class='price'>
            <span class="dollar">$</span>
            10
            <span class="unit">
            /mo*
            </span>
          </div>
          <span class="text-muted">Get 1 hosted Project (e.g. 'example.bowtied.io') with all the bells and whistles.</span>
          <a href="/owners/sign_up" class="clearfix"><button class="btn btn-info row" style="margin-top:15px;">Try ⋈ BowTie</button></a>
          <ul class='plan-features list-group'>
            <li class='list-group-item'><em>30-day Free Trial</em></li>
            <hr>
            <li class='list-group-item'><strong>Always SSL</strong> security<br>Custom Domains: <strong>$1.99 + Up</strong><br>Extra Bandwidth: <strong>$.02 /GB</strong> (>100Gb)<br/>Email Support</li>
            <li class='list-group-item'>Add-On Projects: <strong>$10</strong></li>
            <hr>
            <li class='list-group-item small text-muted'>*Billed annually or $12 month-to-month.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class='col-md-3 col-sm-6'>
      <!--PLAN 2-->
      <div class='plan panel panel-default'>
        <div class="panel-heading plan-name">
          Freelancer
        </div>
        <div class='panel-body text-center'>
          <div class='price'>
            <span class="dollar">$</span>
            39
            <span class='unit'>
            /mo*
            </span>
          </div>
          <span class="text-muted">Up to 5 Projects, with Stripe Payments, an Editor for your clients, and Priority Email support.</span>
          <a href="/owners/sign_up" class="clearfix"><button class="btn btn-info row" style="margin-top:15px;">Sign Up</button></a>
          <ul class='plan-features list-group'>
            <hr>
            <li class='list-group-item'>Customizable <strong>Client Editor</strong><br>Secure <strong>Stripe</strong> payments<br><strong>Always SSL</strong> security<br>Custom Domains: <strong>$1.99 + Up</strong><br>Extra Bandwidth: <strong>$.02 /GB</strong> (>100Gb)<br/>Priority Email Support</li>
            <li class='list-group-item'>Add-On Projects: <strong>$8</strong></li>
            <hr>
            <li class='list-group-item small text-muted'>*Billed annually or $49 month-to-month.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class='col-md-3 col-sm-6'>
      <!--PLAN 3-->
      <div class='plan panel panel-default prominent-plan'>
        <div class="panel-heading plan-name">
          Agency
        </div>
        <div class='panel-body text-center'>
          <div class='price'>
            <span class="dollar">$</span>
            199
            <span class='unit'>
            /mo*
            </span>
          </div>
          <span class="text-muted">Up to 25 Projects with separate Stripe accounts, White labeled editor, Workflow training, and VIP Real-time Support.</span>
          <a href="/owners/sign_up" class="clearfix"><button class="btn btn-info row" style="margin-top:15px;">Sign Up</button></a>
          <ul class='plan-features list-group'>
            <hr>
            <li class='list-group-item'>White labeled <strong>Client Editor</strong><br><strong>Stripe</strong> payments and subscriptions<br><strong>Always SSL</strong> security<br>Custom Domains: <strong>$1.99 + Up</strong><br>Extra Bandwidth: <strong>$.02 /GB</strong> (>100Gb)<br/>VIP Real Time Support (slack/phone)</li>
            <li class='list-group-item'>Add-On Projects: <strong>$8</strong></li>
            <hr>
            <li class='list-group-item small text-muted'>*Billed annually or $249 month-to-month.</li>
          </ul>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
    <div class='col-md-3 col-sm-6'>
      <!--PLAN 4-->
      <div class='plan panel panel-default'>
        <div class="panel-heading plan-name">
          Enterprise
        </div>
        <div class='panel-body text-center'>
          <div class='price'>
            <span style="font-size:.75em;line-height:110%;">Let's Talk</span>
            <span class='unit'></span>
          </div>
          <span class="text-muted">Custom hosting solutions for HIPPA compliance, municipalities, or enterprise.</span>
          <p>&nbsp;</p>
          <a href="/services/"><button class="btn btn-transparent row">Contact Us</button></a>
          <p>&nbsp;</p>
        </div>
      </div>
      <div class="text-center clear">
        <div class="plan panel panel-default discount-panel">
          <h3 class="title">Save 20% with Annual Billing!</h3>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</section>
