<section id="products_and_services" class="">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Better Technology Means Better Business.</h2>
        <p class="lead">Our team of designers and developers can take your business to the next level - with unprecedented speed and efficiency.</p>
      </div>
      <div class="col-sm-12">
        <img src="/img/tie-black500.png" class="team-logo" style="margin:1em auto 0;"/>
      </div>
    </div>
      <div class="row feature-row">
        <div class="col-sm-4 feature">
          <h4 class="animated fadeInUp">Process is Everything</h4>
        <p class="animated fadeInUp">Thoughtful Execution from day one, led by a team of seasoned product people. From day one to launch we maintain obsessive attention to detail and total transparency.</p>
        </div>
        <div class="col-sm-4 feature">
          <h4 class="animated fadeInUp">Unprecedented Attention</h4>
        <p class="animated fadeInUp">We only work with a select number of clients at any time, meaning we can assure a tremendous amount of care and concern throughout the duration of your project.</p>
        </div>
        <div class="col-sm-4 feature">
          <h4 class="animated fadeInUp">We're On Your Team</h4>
        <p class="animated fadeInUp">Need help post-project? Consider us part of your maintenance team. We provide training and documentation for every site or app we build, and offer continuous support as long as you need it. </p>
        </div>
      </div>
    <p class="buttons">
      <a href="/pricing/" class="btn btn-info btn-lg">Pricing</a>
    </p>
  </div>
</section>
