<section id="products_and_services" class="">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Let's get honest</h2>
        <p class="lead">Choosing A Development Team is Hard</p>
        <p class="">Software development can be costly, inefficient, and confusing. Chasing down contractors or trying to decode a black box is a nightmare. Bowtie is a digital product company that values usability, performance, and intelligent design. We're value focused, but not cheap. We honor trust, and execute our client work with pride and efficiency. Hire us and we'll make your job easier.</p>
      </div>
      <div class="col-sm-12">
        <img src="/img/tie-black500.png" class="team-logo" style="margin:1em auto 0;"/>
      </div>
    </div>
      <div class="row feature-row">
        <div class="col-sm-4 feature">
          <h4 class="animated fadeInUp">Process is Everything</h4>
        <p class="animated fadeInUp">Thoughtful execution from day one, led by a cohesive team of product people. From kickoff to launch we maintain obsessive attention to detail and total transparency.</p>
        </div>
        <div class="col-sm-4 feature">
          <h4 class="animated fadeInUp">Unprecedented Attention</h4>
        <p class="animated fadeInUp">We work with a select number of clients at any time, meaning we can assure a tremendous amount of care and concern throughout the duration of your project.</p>
        </div>
        <div class="col-sm-4 feature">
          <h4 class="animated fadeInUp">We're On Your Team</h4>
        <p class="animated fadeInUp">Need help post-launch, or 6 months down the line? We provide training and documentation for every project, and offer continuous support as long as you need it.</p>
        </div>
      </div>
    <p class="buttons">
      <a href="/pricing/" class="btn btn-info btn-lg">Pricing</a>
    </p>
  </div>
</section>
