<section id="sectors" class="dark" >
  <a name="sectors"></a>
  <div class="container row-80 text-center">

    <row class="row">
    <div class="col-sm-12 feature-copy">
      <h2>Supported Sectors</h2>
      <h3>Startup &nbsp;&#8226;&nbsp; Enterprise &nbsp;&#8226;&nbsp; Government</h3>
      <p>Bowtie’s experienced team works with partners to provide B2B, Public Sector, Healthcare, and custom solution support.</p>
    </div>
  </row>

  </div>

  <div class="text-center">
    <div class="button-group">
      <a href="/portfolio/"><button class="animateEntry btn btn-info" style="box-shadow:2px 4px 2px rgba(0, 0, 0, 0.55);">Recent Projects</button></a>&nbsp;
      <a href="#contactus"><button class="animateEntry btn btn-success" style="box-shadow:2px 4px 2px rgba(0, 0, 0, 0.55);">Work With Us</button></a>
    </div>
  </div>
</section>
