<section id="service-testimonial-carousel" class="section-alt carousel slide testimonial" data-ride="carousel" style="overflow: hidden;
width: 100%;">
  <div class="container row-90 text-center">
    <h4 class="text-center">Trusted for projects large and small</h4>
    <ol class="carousel-indicators">
      <li data-target="#service-testimonial-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#service-testimonial-carousel" data-slide-to="1"></li>
      <li data-target="#service-testimonial-carousel" data-slide-to="2"></li>
      <li data-target="#service-testimonial-carousel" data-slide-to="3"></li>
      <li data-target="#service-testimonial-carousel" data-slide-to="4"></li>
      <li data-target="#service-testimonial-carousel" data-slide-to="5"></li>
      <li data-target="#service-testimonial-carousel" data-slide-to="6"></li>
    </ol>
    <div class="carousel-inner row-90 text-left"><!-- slides -->
      <div class="item active">
        <div class="carousel-caption">
          <div class="col-md-4 test-portfolio-copy">
            <h1>Public Initiatives</h1>
            <p> Launch ABQ Accelerator and Entrepreneurship support program site – <a href="http://www.cabq.gov/" target="_blank" rel="noopener nofollow">City of Albuquerque</a></p>
          </div>
          <img class="img test-portfolio-slide col-md-8" src="/img/portfolio/launchabq.png" alt="Slide">
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <div class="col-md-4 test-portfolio-copy">
            <h1>Events + Conferences</h1>
            <p> YPO Cannabis Coaching Conference website – <a href="https://ypoccc.bowtied.io/" target="_blank" rel="noopener nofollow">YPO Health and Wealth</a></p>
          </div>
          <img class="img test-portfolio-slide col-md-8" src="/img/portfolio/cannabiscoachingconference.png" alt="Slide">
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <div class="col-md-4 test-portfolio-copy">
            <h1>Startups</h1>
            <p>Startup Denver event site</p>
          </div>
          <img class="img test-portfolio-slide col-md-8" src="/img/portfolio/startup-denver.png" alt="Slide">
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <div class="col-md-4 test-portfolio-copy">
            <h1>Non-Profits</h1>
            <p> Create ABQ event website – <a href="#" target="_blank" rel="noopener nofollow">Creative Startups</a></p>
          </div>
          <img class="img test-portfolio-slide col-md-8" src="/img/portfolio/createABQ.png" alt="Slide">
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <div class="col-md-4 test-portfolio-copy">
            <h1>Small Business</h1>
            <p> SportXast Kickstarter + preorder site – <a href="https://sportxast.com/" target="_blank" rel="noopener nofollow">SportXast</a></p>
          </div>
          <img class="img test-portfolio-slide col-md-8" src="/img/portfolio/sportxast.png" alt="Slide">
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <div class="col-md-4 test-portfolio-copy">
            <h1>Charity Fundraising</h1>
            <p> Girls on the Run Fasion Show benefit site – <a href="https://girlsontherun.bowtied.io/" target="_blank" rel="noopener nofollow">GLC Business Services</a></p>
          </div>
          <img class="img test-portfolio-slide col-md-8" src="/img/portfolio/girlsontherun.png" alt="Slide">
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <div class="col-md-4 test-portfolio-copy">
            <h1>Member Organizations</h1>
            <p> Membership and Donation website – <a href="https://threelakeswater.org/" target="_blank" rel="noopener nofollow">Three Lakes Watershed Association</a></p>
          </div>
          <img class="img test-portfolio-slide col-md-8" src="/img/portfolio/threelakeswatershed2.png" alt="Slide">
        </div>
      </div>

      </div>
  <!-- Controls -->
    <a class="left carousel-control" href="#service-testimonial-carousel" data-slide="prev">
      <span class="fa fa-angle-left"></span>
    </a>
    <a class="right carousel-control" href="#service-testimonial-carousel" data-slide="next">
      <span class="fa fa-angle-right"></span>
    </a>
  </div> <!-- end carousel -->

<div class="clients">
  <div class="logos row row-90 text-center">
    <a href="https://cabq.gov/" target="_blank" rel="noopener nofollow" style="">
      <img alt="cityofabq" src="/img/clients/abqlogo.png">
    </a>
    <a href="http://creativestartups.org" target="_blank" rel="noopener nofollow">
      <img alt="creativestartups" src="/img/clients/creative-startups-logo.png">
    </a>
    <a href="https://boldbetties.com/" target="_blank" rel="noopener nofollow">
      <img alt="boldbetties" src="/img/clients/boldbetties.png">
    </a>
    <a href="https://www.name.com/" target="_blank" rel="noopener nofollow">
      <img alt="namedotcom" src="/img/clients/namedotcom.png">
    </a>
    <a href="http://ombud.com/" target="_blank" rel="noopener nofollow">
      <img alt="Ombud" src="/img/clients/ombud-logo.png">
    </a>
  </div>
  <br>
  <p class="small text-center"><em>Logos/trademarks are copyright to their respective owners.</em></p>
</div>

</section>

 <script>
  $('.carousel').carousel({
   interval: '20000'
  });
 </script>
