<section id="services">
  <a name="service-callouts"></a>
  <div class="container row-80">
    <row class="row"><a name="websites"></a>
      <img class="feature-img pull-right col-sm-12 col-md-8" src="/img/portfolio/dromedairynaturals.png">
      <div class="col-md-4 feature-copy">
        <h4>CUSTOM WEB + ECOMMERCE DEVELOPMENT</h4>
        <h2>We Create Awesome</h2>
        <p>Our team has decades of combined experience building ecommerce websites and web applications.</p>
        <p>Every one of us writes code, solves hard problems, and loves our work.</p>
      </div>
    </row>
    <hr>
    <row class="row" style="flex-direction: row-reverse;">
      <img class="feature-img pull-left col-sm-12 col-md-8" src="/img/portfolio/Alpine-Laptop.png">
      <div class="col-md-4 feature-copy"><a name="mvpdevelopment"></a>
        <h4>MVP-IN-A-BOX</h4>
        <h2>Build Better Software</h2>
        <p>We offer a unique and highly valuable MVP development package that combines several of our service packages to give you a market ready app.</p>
        <p>For a flat fee we'll guide you through the complete Bowtie Development Cycle, including Design, Development, Product Launch, and Training. You'll walk away with a functional app - ready to validate your market, raise capital, or recruit a team.</p>
        <a href="/pricing/#mvp" class="btn btn-primary" style="box-shadow:2px 4px 2px rgba(0, 0, 0, 0.35);">Flat Rate MVP Pricing</a>
      </div>
    </row>
    <hr>
    <row class="row">
      <img class="feature-img pull-left col-sm-12 col-md-8" src="/img/portfolio/homebot-screen.png">
      <div class="col-md-4 feature-copy"><a name="team-augmentation"></a>
        <h4>TEAM AUGMENTATION & TECH CONSULTING</h4>
        <h2>Team Augmentation</h2>
        <p>We have executed and led countless development projects across mulitple markets. Leverage our guidance on development process, agile, and product execution.</p>
        <a name="training"></a><p>If you need a code audit, development support (remote or onsite), or reverse engineering assistance, call us.</p>
        <a href="/backend-services/" class="btn btn-info" style="box-shadow:2px 4px 2px rgba(0, 0, 0, 0.35);">Backend Service Packages</a>
      </div>
    </row>
    <hr>
    <row class="row" style="flex-direction: row-reverse;"><a name="websites"></a>
      <img class="feature-img pull-right col-sm-12 col-md-8" src="/img/portfolio/bontemps-screen.png">
      <div class="col-md-4 feature-copy">
        <h4>PARTNER SUBCONSULTING</h4>
        <h2>Let Us Do the Heavy Lifting</h2>
        <p>We partner with design firms, SEO companies, and digital marketing agencies to provide timely solutions to complex problems.</p>
        <p>If you're looking for a reliable software development partner while bidding or executing new projects, contact us.</p>
      </div>
    </row>
    <br/>
  </div>
</section>
