<section id="" class="gradient" data-ride="carousel" data-interval="9000" style="overflow: hidden;
width: 100%;">
<div class="container">
  <div class="row d-flex align-items-center">
  <div class="col-md-7 order-sm-2">
  <h2 class="text-left">Stephanie Grant</h2>
  <p class="text-left">Stephanie has been a practicing nurse for the past 25 years. She has often been intrigued about the various reactions of those facing illness, death, fear and all the multitude of life’s inevitable trials. She has  also been faced with her  own reactions, and confused why sheer will power did not enable her  to make the changes necessary in her own life to steer a different course, choose a new attitude or develop a better habit. The years studying the Enneagram have answered those questions. She has learned that it is not the habit, but what motivates the habit that must be reevaluated. Once she understood the power behind that information, her ability to change her own mind began and now changes her life. </p>
  <p class="text-left">Stephanie Grant  has been teaching the Enneagram for several years. The Enneagram  approach is applied to individuals, groups , corporations, parents, children and spouses. The Enneagram  is a tool used to understand not only your own motivations better, but also those whom you come into close contact with.  Your world becomes open to the certainty that all of us are moved by our automatic fears and ego messages, and once we know what they are, we are able to begin the work of seeing a path out of those reactions and into a lighter, more informed and awake state of being and living.</p class="text-left">
</div>
<div class="col-md-5">
  <div style="max-width: 400px; margin: .5em auto;">
    <img src="/img/image1.jpeg" alt="Stephanie Grant" />
  </div>
</div>
</div>
</div>
</section>
