<section id="team_section" class="">
  <div class="container">
    <div class="row row-80">
      <div class="col-md-8 col-md-offset-2">
        <h2>Our Team</h2>
        <img src="/img/tie-black500.png" class="team-logo">
        <p>Our team has big agency experience and small startup agility, creating high quality work at twice the speed of the “big guys.”</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="mobile-team-member">
          <img src="/img/chad-bowtie.png">
          <h3>Chad Person</h3>
          <p class="bio">CEO and Creative Director of Bowtie, leading a the team in producing outstanding products and experiences. He has a decade of professional experience in UX, design, product development, marketing, and visual communication; having deployed applications, interactive exhibits, and web sites serving tens of millions of users. He's also an internationally exhibited artist, public speaker, and startup advisor. When he's not in front of a computer you can find him riding his bike, snowboarding, roasting coffee, and spending time with his family.
            <br></br><strong>Fave food:</strong> Smoked pork belly, or distilled rye.
            <br></br><strong>Fave Music:</strong> Jazz or classic rock.</p>
          <ul class="social">
            <li><a href="https://twitter.com/chadperson/"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.behance.net/chadperson"><i class="fa fa-behance"></i></a></li>
            <li><a href="https://www.linkedin.com/in/personchad"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="mobile-team-member">
          <img src="/img/stacie-bowtie.png">
          <h3>Stacie Velehradsky</h3>
          <p class="bio">Stacie is the wizard that keeps projects moving. She has worked in the design and product field for over 9 years with clients such as Walmart, Materne, and Tempur-pedic. Before working with Bowtie, she owned a web design studio where she had the opportunity to participate in the Techstars Boulder accelerator.
          Today, she spends her time on new business development, working on design projects, and managing the agency’s client accounts.
          In her spare time, she loves to dance, cook, travel the world, and spend time with her dog Zoey.
            <br></br><strong>Fave food:</strong> Her grandma’s homemade meatballs and marinara, although she could eat Sushi for every meal (and recently did in Japan).
            <br></br><strong>Fave Music:</strong> anything but metal.
          </p>
          <ul class="social">
            <li><a href="https://www.linkedin.com/in/stacievelehradsky/"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.instagram.com/stacievells/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://dribbble.com/stacievee"><i class="fa fa-dribbble"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="mobile-team-member">
          <img src="/img/charlie-bowtie.png">
          <h3>Charlie McClung</h3>
          <p class="bio">Charlie is our chief problem solver and tech magician, with a vast experience in many languages and technologies. He has a BS degree in Computer Science from CU Boulder and has been a software engineer for over 6 years. Charlie's passion for web development has taken him on a wild ride through many languages and technologies, including work for brands like AutoDesk, IMM, and CFS. Today, he spends most of his time coordinating DevOps and processes to facilitate projects of all kinds.
          When Charlie isn’t working, he can be found playing music and video games.
          <br></br><strong>Fave food:</strong> Pasta
          <br></br><strong>Fave Music:</strong> Red Hot Chili Peppers
          .</p>
          <ul class="social">
            <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://github.com/"><i class="fa fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="mobile-team-member">
          <img src="/img/tim-bowtie.png">
          <h3>Tim Brandle</h3>
          <p class="bio">Tim has not one, but TWO degrees: Business Administration from Colorado State and Frontend Development from Turing. He’s worked as a software developer for over 2 years and has experience working with React, React Native, Redux, Javascript, Electron, CSS, and Ruby.
          Before Bowtie, he worked for 6 years in international development as a volunteer coordinator for Peace Corps Peru and a Director of U.S. Operations for a microfinance institution based out of Honduras. This guy has heart!
          When Tim isn’t working, he is rock climbing, camping, snowboarding, mountain biking and road biking.
          <br></br><strong>Fave food:</strong> burritos and panang curry
          <br></br><strong>Fave Music:</strong> Indie rock, 90's hip hop, and some electronic music.
          </p>
          <ul class="social">
            <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="mobile-team-member">
          <img src="/img/brandon-bowtie.png">
          <h3>Brandon Cabael</h3>
          <p class="bio">Brandon is our resident ninja, tackling back end problems with ease and accuracy. If he doesn’t know something, he figures it out.
          Brandon has experience working in Ruby On Rails, React, Docker, Amazon Web Services, C#, and .net.
          When he isn’t working, he’s making music and playing video games.
          <br></br><strong>Fave food:</strong> It’s a tie between Mongolian BBQ and Korean BBQ
          <br></br><strong>Fave Music:</strong> Anything but death metal</p>
          <ul class="social">
            <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="mobile-team-member">
          <img src="/img/nick-bowtie.png">
          <h3>Nick Arrasate</h3>
          <p class="bio">Nick is our e-commerce guru with experience in Jekyll/Liquid, Node, Javascript/Jquery, as well as various design and productivity tools. He’s inspired by clean design and user experiences.
          With a degree in Jazz Composition, it’s no wonder he has a passion for playing and enjoying music. Nick is also an amateur carpenter and likes board games, movies, books and cooking.
          <br></br><strong>Fave food:</strong> Dungeness crab pizza made at a local Italian restaurant called Nostrana
          <br></br><strong>Fave Music:</strong> current favorites are mewithoutyou, Mogwai, Radiohead, Sigur Ros, Yo La Tengo, Fleet Foxes and Mount Kimbie.</p>
          <ul class="social">
            <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

  <div class="member1">
    <img src="/img/chad-bowtie.png">
    <div class="content">
      <h3>Chad Person</h3>
      CEO and Creative Director of Bowtie, leading a the team in producing outstanding products and experiences. He has a decade of professional experience in UX, design, product development, marketing, and visual communication; having deployed applications, interactive exhibits, and web sites serving tens of millions of users. He's also an internationally exhibited artist, public speaker, and startup advisor. When he's not in front of a computer you can find him riding his bike, snowboarding, roasting coffee, and spending time with his family.
        <br></br><strong>Fave food:</strong> Smoked pork belly, or distilled rye.
        <br></br><strong>Fave Music:</strong> Jazz or classic rock.</p>
      <ul class="social">
        <li><a href="https://twitter.com/chadperson/"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.behance.net/chadperson"><i class="fa fa-behance"></i></a></li>
        <li><a href="https://www.linkedin.com/in/personchad"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="member2">
    <img src="/img/stacie-bowtie.png">
    <div class="content">
      <h3>Stacie Velehradsky</h3>
      Stacie is the wizard that keeps projects moving. She has worked in the design and product field for over 9 years with clients such as Walmart, Materne, and Tempur-pedic. Before working with Bowtie, she owned a web design studio where she had the opportunity to participate in the Techstars Boulder accelerator.
          Today, she spends her time on new business development, working on design projects, and managing the agency’s client accounts.
          In her spare time, she loves to dance, cook, travel the world, and spend time with her dog Zoey.
            <br></br><strong>Fave food:</strong> Her grandma’s homemade meatballs and marinara, although she could eat Sushi for every meal (and recently did in Japan).
            <br></br><strong>Fave Music:</strong> anything but metal.
          <ul class="social">
            <li><a href="https://www.linkedin.com/in/stacievelehradsky/"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.instagram.com/stacievells/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://dribbble.com/stacievee"><i class="fa fa-dribbble"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="member3">
    <img src="/img/charlie-bowtie.png">
    <div class="content">
      <h3>Charlie McClung</h3>
      Charlie is our chief problem solver and tech magician, with a vast experience in many languages and technologies. He has a BS degree in Computer Science from CU Boulder and has been a software engineer for over 6 years. Charlie's passion for web development has taken him on a wild ride through many languages and technologies, including work for brands like AutoDesk, IMM, and CFS. Today, he spends most of his time coordinating DevOps and processes to facilitate projects of all kinds. When Charlie isn’t working, he can be found playing music and video games.
      <br></br><strong>Fave food:</strong> Pasta
      <br></br><strong>Fave Music:</strong> Red Hot Chili Peppers.
      <ul class="social">
        <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="member4">
    <img src="/img/tim-bowtie.png">
    <div class="content">
      <h3>Tim Brandle</h3>
      Tim has not one, but TWO degrees: Business Administration from Colorado State and Frontend Development from Turing. He’s worked as a software developer for over 2 years and has experience working with React, React Native, Redux, Javascript, Electron, CSS, and Ruby.
      Before Bowtie, he worked for 6 years in international development as a volunteer coordinator for Peace Corps Peru and a Director of U.S. Operations for a microfinance institution based out of Honduras. This guy has heart!
      When Tim isn’t working, he is rock climbing, camping, snowboarding, mountain biking and road biking.
      <br></br><strong>Fave food:</strong> burritos and panang curry
      <br></br><strong>Fave Music:</strong> Indie rock, 90's hip hop, and some electronic music.
      <ul class="social">
        <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="member5">
    <img src="/img/brandon-bowtie.png">
    <div class="content">
      <h3>Brandon Cabael</h3>
      Brandon is our resident ninja, tackling back end problems with ease and accuracy. If he doesn’t know something, he figures it out.
      Brandon has experience working in Ruby On Rails, React, Docker, Amazon Web Services, C#, and .net.
      When he isn’t working, he’s making music and playing video games.
      <br></br><strong>Fave food:</strong> It’s a tie between Mongolian BBQ and Korean BBQ
      <br></br><strong>Fave Music:</strong> Anything but death metal
      <ul class="social">
        <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="member6">
    <img src="/img/nick-bowtie.png">
    <div class="content">
      <h3>Nick Arrasate</h3>
      Nick is our e-commerce guru with experience in Jekyll/Liquid, Node, Javascript/Jquery, as well as various design and productivity tools. He’s inspired by clean design and user experiences.
      With a degree in Jazz Composition, it’s no wonder he has a passion for playing and enjoying music. Nick is also an amateur carpenter and likes board games, movies, books and cooking.
      <br></br><strong>Fave food:</strong> Dungeness crab pizza made at a local Italian restaurant called Nostrana
      <br></br><strong>Fave Music:</strong> current favorites are mewithoutyou, Mogwai, Radiohead, Sigur Ros, Yo La Tengo, Fleet Foxes and Mount Kimbie.
      <ul class="social">
        <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>
</section>
