<section id="testimonial-carousel" class="gradient carousel slide carousel-fade testimonial" data-ride="carousel" data-interval="9000" style="overflow: hidden;
width: 100%;">
<div class="container row-90 text-center">
  <h2 class="text-center">Our Clients Love Us</h2>

  <ol class="carousel-indicators">
    {% for testimonial in site.testimonials %}
    <li data-target="#testimonial-carousel" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active" {% endif %}></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner text-left"><!-- slides -->
    {% for testimonial in site.testimonials %}
    <div class="item {% if forloop.first %}active{% endif %}">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 animateEntryRight">
          <div class="t-holder">
            <div class="row">
              <div class="col-sm-12">
                <h1>"{{ testimonial.copy_textarea }}"</h1>
                <p class="credit">{{ testimonial.byline_name }}<a href="{{ testimonial.byline_link }}" target="_blank" rel="noopener nofollow">{{ testimonial.byline_org }}</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#testimonial-carousel" data-slide="prev">
    <span class="fa fa-angle-left"></span>
  </a>
  <a class="right carousel-control" href="#testimonial-carousel" data-slide="next">
    <span class="fa fa-angle-right"></span>
  </a>

</div> <!-- end carousel -->

</section>
