<section id="testimonial-carousel" class="color carousel slide carousel-fade testimonial" data-ride="carousel" data-interval="9000" style="overflow: hidden;
width: 100%;">
<div class="container row-90 text-center">
  <ol class="carousel-indicators">
    <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#testimonial-carousel" data-slide-to="1"></li>
    <li data-target="#testimonial-carousel" data-slide-to="2"></li>
    <li data-target="#testimonial-carousel" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner text-left"><!-- slides -->
    <div class="item active">
      <div class="row">
        <div class="col-md-5 animateEntryLeft">
          <div class="t-holder">
            <img src="/img/left-testimonial-arrow.png" class="left-arrow">
            <div class="row">
              <div class="col-md-3 col-sm-2">
                <img class="img profile-pic" src="/img/martin-pucher.jpg" alt="Slide">
              </div>
              <div class="col-md-9 col-sm-10">
                <h1>"An amazing team that delivers with precision and professionalism. They helped us streamline our processes and optimize our technical stack."</h1>
                <p class="credit"> Martin Pucher -  Founder and COO <a href="https://www.linkedin.com/company/afini/" target="_blank" rel="noopener nofollow">Afini</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7 animateEntryRight">
          <div class="t-holder t-right">
            <img src="/img/right-testimonial-arrow.png" class="right-arrow">
            <div class="row">
              <div class="col-md-3 col-sm-2">
                <img class="img profile-pic" src="/img/amy-slater2.jpg" alt="Slide">
              </div>
              <div class="col-md-9 col-sm-10">
                <h1>"Bowtie worked with us on number of project sites to assist public outreach."</h1>
                <p class="credit"> Amy Slater -  Operations Director <a href="http://creativestartups.org/" target="_blank" rel="noopener nofollow">Creative Startups</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="row">
        <div class="col-md-5 animateEntryLeft">
          <div class="t-holder">
            <img src="/img/left-testimonial-arrow.png" class="left-arrow">
            <div class="row">
              <div class="col-md-3 col-sm-2">
                <img class="img profile-pic" src="/img/mikekilcoyne.jpeg" alt="Slide">
              </div>
              <div class="col-md-9 col-sm-10">
                <h1>"In just a few days, we had a web property online that was better than I could have imagined."</h1>
                <p class="credit"> Mike Kilcoyne - <a href="https://startupdenver.io" target="_blank" rel="noopener nofollow">Startup Denver</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7 animateEntryRight">
          <div class="t-holder t-right">
            <img src="/img/right-testimonial-arrow.png" class="right-arrow">
            <div class="row">
              <div class="col-md-3 col-sm-2">
                <img class="img profile-pic" src="/img/alex-schupp.jpg" alt="Slide">
              </div>
              <div class="col-md-9 col-sm-10">
                <h1>"Bowtie built us a web app to create a new revenue line for our business."</h1>
                <p class="credit">Alex Schupp  -  Dir of Marketing <a href="https://www.growthweaver.com/" target="_blank" rel="noopener nofollow">Growth Weaver</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="row">
        <div class="col-md-5 animateEntryLeft">
          <div class="t-holder">
            <img src="/img/left-testimonial-arrow.png" class="left-arrow">
            <div class="row">
              <div class="col-md-3 col-sm-2">
                <img class="img profile-pic" src="/img/niki-kourboulis.jpg" alt="Slide">
              </div>
              <div class="col-md-9 col-sm-10">
                <h1>"Bowtie helped us develop a toolkit to standardize our internal practices and grow our organization."</h1>
                <p class="credit"> Niki Kourboulis -  Founder + CEO <a href="https://boldbetties.com/" target="_blank" rel="noopener nofollow">Bold Betties</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7 animateEntryRight">
          <div class="t-holder t-right">
            <img src="/img/right-testimonial-arrow.png" class="right-arrow">
            <div class="row">
              <div class="col-md-3 col-sm-2">
                <img class="img profile-pic" src="/img/thad-eby.jpg" alt="Slide">
              </div>
              <div class="col-md-9 col-sm-10">
                <h1>"Smart, hardworking, and a tremendous value. Work with them if you get the chance."
                </h1>
                <p class="credit"> Thad Eby -  CEO <a href="https://ombud.com/" target="_blank" rel="noopener nofollow">Ombud</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="row">
        <div class="col-md-5 animateEntryLeft">
          <div class="t-holder">
            <img src="/img/left-testimonial-arrow.png" class="left-arrow">
            <div class="row">
              <div class="col-md-3 col-sm-2">
                <img class="img profile-pic" src="/img/chris-ryerson.jpg" alt="Slide">
              </div>
              <div class="col-md-9 col-sm-10">
                <h1>"Our SA Tomorrow planning sites are modern, fast, and easily searchable by our community members."</h1>
                <p class="credit"> Chris Ryerson - Planning Administrator <a href="https://satomorrow.com/" target="_blank" rel="noopener nofollow">City of San Antonio</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7 animateEntryRight">
          <div class="t-holder t-right">
            <img src="/img/right-testimonial-arrow.png" class="right-arrow">
            <div class="row">
              <div class="col-md-3 col-sm-2">
                <img class="img profile-pic" src="/img/matt-holmes.jpg" alt="Slide">
              </div>
              <div class="col-md-9 col-sm-10">
                <h1>"Bowtie helped me develop a beautiful landing page for book sales - it's been the most clean and clear solution, better than selling on Amazon or Wordpress."</h1>
                <p class="credit"> Matt Holmes -  Pro Handshaker/Founder <a href="https://www.handshakin.com/" target="_blank" rel="noopener nofollow">Handshakin.com </a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#testimonial-carousel" data-slide="prev">
    <span class="fa fa-angle-left"></span>
  </a>
  <a class="right carousel-control" href="#testimonial-carousel" data-slide="next">
    <span class="fa fa-angle-right"></span>
  </a>

</div> <!-- end carousel -->

</section>
