<section class="dark">
  <div class="text-center">
    <h4 class="text-center">Sign up for monthly news, tips, and development updates.</h4>
      <form class="prospect-registration form-bloat smaller form-stretch row-90" method="post" action="https://seedworthy.createsend.com/t/d/s/hdxk/">
          <div class="prospect-registration-pending">
            <div class="input-append">
              <input id="fieldEmail" name="cm-hdxk-hdxk" type="text" placeholder="Email Address">
              <button class="btn btn-default" type="submit">Sign Up</button>
            </div>
            <p class="help-block text-muted">We won't spam or sell your email, and you can unsubscribe at any time.</p>
          </div>
        </div>
      </form>
  </div>
</section>
