<footer id="footer" class="section">
  <a name="connect"></a>
  <div class="container">
    <img src="/img/bowtie_co-rev.png" class="team-logo" />
    <h3>Software. Perfected.</h3>
    {% include social-links.html %}
    {% include subfooter.html %}
  </div>
</footer>
{% include scroll-top-btn.html %}


<script async="async" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/theme.js" ></script>
<script async>(function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='6506fbd390daf43bc99d7ec2c45eb0c9aceebc9531439d89de97d3d225f30b0d';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');</script>
<script type="text/javascript">
// google custom search
(function() {
var cx = '002507422218907688335:qppuxhbqkm0';
var gcse = document.createElement('script'); gcse.type = 'text/javascript';
gcse.async = true;
gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
})();
</script>
