<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include seo.html %}
  <!-- end SEO plugin -->
  {% if page.noindex %}<meta name="robots" content="noindex">{% endif %}

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="AMOiaG2oDrDE9RKkOWdlrxLCDMqPhBCOl8aGwzylAyM" />

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" type="image/png" href="/img/icons/bowtie-icon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/bowtie-icon-32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/icons/bowtie-icon-96.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/img/icons/bowtie-icon-57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/icons/bowtie-icon-72.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-icon-120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/icons/bowtie-icon-128.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/icons/bowtie-icon-144.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/icons/bowtie-icon-152.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/icons/bowtie-icon-228.png">

  <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
  <link href="/css/main.css" rel="stylesheet" type='text/css'>
  {% if site.google_tag_manager %}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ site.google_tag_manager }}');</script>
  <!-- End Google Tag Manager -->
  {% endif %}
</head>
