<section class="generic section alt" >
  <div class="container text-center">
    <h1>How to win {{event.timeframe}}</h1>
    <h3>BowTie is designed to kickstart your development efforts.</h3>
    <p>Get up and running on BowTie in less than 5 minutes, add your team to your project, and win.</p>
    <br/>
    <h4 class="eventstep">Step 1:</h4>
    <a href="https://bowtie.io/owners/sign_up">
      <button class="btn btn-lg btn-success">Sign Up for BowTie</button>
    </a>
    <p>&nbsp;</p>
    <br/>
    <h4 class="eventstep">Step 2:</h4>
    <h4>Set up your dev environment and install the BowTie client to <a href="/help/getting-started-with-bowtie/">get started.</a></h4>
      <p>&nbsp;</p><br/>
    <h4 class="eventstep">Step 3:</h4>
    <h4>Hack your app together in BowTie and push. Done.</h4>
  </div>
</section>
