<!-- banner for PH AMA plug -->
<section>
  <div class="text-center well well-sm phbanner event-banner" style="background-color:#DA552F;">
      <img src="/img/kitty.png" style="height: 100px;margin:0px 0px -10px;padding-top:4px;">
      <div class="copy light">
        <h4>Hello Hunters!</h4>
        <p>Thanks for coming! Get 50% off any plan with 'producthunt'</p>
      </div>
      <div class="cta light">
      <a class="btn btn-sm btn-outline" href="/owners/sign_up?ref=producthunt">Sign Up</a>
    </div>
    <p class="small light">
    <a href="https://www.producthunt.com/tech/bowtie">View on Product Hunt</a>
    </p>
  </div>
</section>
