<!-- banner for SUW ABQ Boulder list plug -->
<section>
  <div class="text-center well well-sm event-banner" style="background-color:#fff;">
      <img src="/img/events/startup-weekend-logo.png">
      <div class="copy dark">
        <h4>Hello Contestants!</h4>
        <p>Select your city to get started</p>
      </div>
      <div class="cta dark" style="width:65px;">
      <a class="btn btn-sm btn-outline pull-left" href="/suwabq/">ABQ</a>
    </div>&nbsp;
      <div class="cta dark">
      <a class="btn btn-sm btn-outline pull-left" href="/suwboulder/">Boulder</a>
      </div>
  </div>
</section>
