<link rel="stylesheet" type="text/css" href="/css/components/portfolio.css"/>
<div id="portfoliocarousel">
  <div class="carousel slide portfolio-slide carousel-fade" id="portfolio-gallery-{{ parent_loop }}">
    <!-- Wrapper for slides -->
    <div class="carousel-inner cont-slider">
      <!--activate carousel gallery-->
        {% for image in page.images %}
          {% if forloop.first %}
          <div class="item active">
            <img alt="" title="" src="{{ image }}">
          </div>
          {% else %}
          <div class="item">
            <img alt="" title="" src="{{ image }}">
          </div>
          {% endif %}
        {% endfor %}
    </div>
    <!-- Indicators -->
    <!--activate carousel indicators-->
      <ol class="carousel-indicators">
        {% for image in page.images %}
          {% if forloop.first %}
          <li class="active" data-slide-to="0" data-target="#portfolio-gallery-{{ parent_loop }}">
            <img alt="" src="{{ image }}">
          </li>
          {% else %}
          <li class="" data-slide-to="{{forloop.index | minus: 1 }}" data-target="#portfolio-gallery-{{ parent_loop }}">
            <img alt="" src="{{ image }}">
          </li>
          {% endif %}
        {% endfor %}
      </ol>
  </div>
</div>
