<div class="row-80 text-center">
  {% for member in site.team %}
  {% cycle 'add row' : '<span class="row"> <div class="center-team">', nil, nil %}
  <column class="col-sm-4 animateEntry">
    <img class="img-circle img profilepic" src="{% if member.avatar_path %}{{member.avatar_path}}{% else %}{{member.gravatar}}{% endif %}">
    <h4 class="name">{{member.displayName}}{% if member.jobTitle %} | {{member.jobTitle}}{% endif %}</h4>
    {% if member.bio %}<p class="area">{{member.bio}}</p>{% endif %}
    <ul class="row social-media social">
      {% if member.social.linkedin %}
      <li>
        <a href="//linkedin.com/{{member.social.linkedin}}" target="_blank" rel="noopener nofollow"><i class="fa fa-linkedin"></i>
        </a>
      </li>
      {% endif %}
      {% if member.social.github %}
      <li>
        <a href="//github.com/{{member.social.github}}" target="_blank" rel="noopener nofollow"><i class="fa fa-github"></i>
        </a>
      </li>
      {% endif %}
      {% if member.social.twitter %}
      <li>
        <a href="//twitter.com/{{member.social.twitter}}" target="_blank" rel="noopener nofollow"><i class="fa fa-twitter"></i>
        </a>
      </li>
      {% endif %}
      {% if member.social.behance %}
      <li>
        <a href="//linkedin.com/{{member.social.behance}}" target="_blank" rel="noopener nofollow"><i class="fa fa-behance"></i>
        </a>
      </li>
      {% endif %}
      {% if member.social.email %}
      <li>
        <a mailto:="{{member.social.email}}" target="_blank" rel="noopener nofollow" class="email"><i class="fa fa-envelope-o"></i>
        </a>
      </li>
      {% endif %}
    </ul>
  </column>
  {% cycle 'end row' : nil, nil, '</div> </span>' %}
  {% endfor %}
</div>
