{% if page.element.img.src_path %}
<img class="logo img" style="max-width: 250px;" alt="{{page.element.img.alt}}" src="{{page.element.img.src_path}}"></img>
{% endif %}
<h1 class="headline">{{page.element.headline}}</h1>
<h2 class="copy">{{page.element.subheadline_textarea}}</h2>
<h3 class="copy">{{page.element.copy_textarea}}</h3>
{% if page.element.pitch.point1 %}
<div class="points">
  <div class="container">
  {% if page.element.pitch.point1 %}
  <p><i class="fa fa-check"></i>{{page.element.pitch.point1}}</p>
  {% endif %}
  {% if page.element.pitch.point2 %}
  <p><i class="fa fa-check"></i>{{page.element.pitch.point2}}</p>
  {% endif %}
  {% if page.element.pitch.point3 %}
  <p><i class="fa fa-check"></i>{{page.element.pitch.point3}}</p>
  {% endif %}
  {% if page.element.pitch.point4 %}
  <p><i class="fa fa-check"></i>{{page.element.pitch.point4}}</p>
  {% endif %}
  {% if page.element.pitch.point5 %}
  <p><i class="fa fa-check"></i>{{page.element.pitch.point5}}</p>
  {% endif %}
  </div>
</div>
{% endif %}
<p class="subtext">{{page.element.subtext}}</p>

{% if page.element.font_color %}
<style >
.element.pitch h1,.element.pitch h2,.element.pitch h3, .element.pitch h4, .element.pitch h5, .element.pitch i, p, label, .element.pitch .points p, .element.pitch p.subtext  {color:{{ page.element.font_color }} !important;}
</style>
{% endif %}
